<section class="services_grid" id="services">
	<div data-animate-stagger class="container grid gap-6 md:grid-cols-2">
		{% for item in services %}
			{% include "tease-service.twig" %}
		{% endfor %}
	</div>
</section>
