@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
	@apply font-body;
}

body,
.is-p {
	@apply leading-relaxed text-base 2xl:text-lg 2xl:leading-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-heading font-semibold;
}

main {
	& h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-brand;
	}
}

h1,
.is-h1 {
	@apply text-4xl leading-tight lg:text-6xl 2xl:text-7xl xl:leading-none;
}

h2,
.is-h2 {
	@apply text-3xl md:text-3xl lg:text-5xl xl:leading-none 2xl:text-6xl 2xl:leading-tight;
}

h3,
.is-h3 {
	@apply leading-tight text-2xl md:text-3xl lg:text-4xl xl:leading-tight 2xl:text-5xl;
}

h4,
.is-h4 {
	@apply leading-tight text-xl md:text-2xl lg:text-3xl 2xl:text-4xl;
}

h5,
.is-h5 {
	@apply leading-tight text-lg md:text-xl lg:text-2xl 2xl:text-3xl;
}

h6,
.is-h6 {
	@apply leading-tight text-base md:text-lg lg:text-xl 2xl:text-2xl;
}

.button,
.is-button {
	@apply text-base text-brand w-fit md:text-lg duration-200 rounded-full py-3 px-6 flex items-center gap-4 bg-brandBlue border-2 border-brandBlue hover:bg-brand hover:text-white;
}

.menu-button > a {
	@apply text-base text-white w-fit md:text-lg duration-200 rounded-full py-3 px-6 flex items-center gap-4 bg-brandGreen border-2 border-brandGreen hover:bg-brand;
}

.home .appointment-button {
	animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

.menu-button > a {
	@apply !text-base md:!text-lg;
}

.internal-banner h1 {
	@apply is-h2 w-4/5;
}

/* List styles inside WYSIWYG editors */
.block-content {
	@apply flex flex-col gap-4 md:gap-6;
}

.block-content :is(ol, ul) {
	@apply ml-4;
}

.block-content ul li {
	@apply list-disc;
}

.block-content ol li {
	@apply list-decimal;
}

h1 > strong,
h2 > strong,
h3 > strong {
	@apply relative font-semibold;

	&:after {
		content: '';
		background-image: url('data:image/svg+xml,<svg width="178" height="11" viewBox="0 0 178 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0342896 10.5248C13.1561 7.10676 156.738 -4.44481 177.345 3.91835Z" fill="%23399500"/></svg>');
		@apply absolute -bottom-3 left-0 bg-center bg-contain w-full h-[11px] bg-no-repeat;
	}
}

@keyframes slide-in-bottom {
	0% {
		transform: translate(-50%, 100px);
		opacity: 0;
	}
	100% {
		transform: translateY(-50%, 0);
		opacity: 1;
	}
}
