<header class="container transition-all duration-300 fixed top-3 left-1/2 -translate-x-1/2 z-50">
	<div data-navigation class="pr-4 pl-6 py-2 border-2 border-brandLight rounded-full bg-brand z-20 w-full flex items-center justify-between transition-all duration-300">
		<a href="{{ site.url }}" rel="home">{% include "icons/logo.twig" with { class: "w-20 lg:w-32" } %}</a>
		<nav id="nav-main" role="navigation" class="flex">
			{% include 'menu.twig' with {
				items: menu.get_items
			} %}
		</nav>
	</div>
</header>
