<div class="service-banner">
	<div class="relative container overflow-hidden text-brand mt-20 lg:mt-32 bg-white w-full h-52 max-lg:pb-6 flex items-center">
		<div class="relative w-full flex flex-col gap-3">
			<span data-animate-left class="text-brandGreen font-medium">Specialised Services</span>
            <h1 data-animate-up>{{ post.title }}</h1>
		</div>
	</div>
</div>
